<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>分別ゴミ支援</title>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	</head>
	<body>
		<h2>ゴミの分別をお手伝いします</h2>
		<b>捨てたい物の写真をアップロードして下さい</b>
		<br><br>
		<form enctype="multipart/form-data" method="post" action="upload">
			<input type="file" name="imagefile">
			<br><br>
			<input type="submit">
		</form>
		<br>
	</body>
</html>
